
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* spacing between items */
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 245, 245, 0.986);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.Talk {
  margin: 50px;
  text-align: center;
  font-size: 2vw;
}


footer {
  text-align: left;
  padding: 20px;
 
}

.image-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.image-button img {
  filter: drop-shadow( 0 0 10px blue);
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;

}

.image-button .hover {
  opacity: 0;
}

.image-button:hover .hover {
  opacity: 1;
}

.image-button:hover .default {
  opacity: 0;
}
