

/* Global Styles */
html, body {
  height: 100%;
  color: white;
  margin: 0px;
  padding: 0%;
  font-size: 1vw; /* Base font size for the page */
}

/* Header Styles */
header h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(145, 145, 255);
  font-size: 6vw; /* Increased font size for header */
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 75px;
  padding: 5px ;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 3vw; /* Increased font size for links */
}

header ul li a:hover {
  color: rgb(87, 177, 207);
}

/* Main Section */
main {
  overflow: auto;
}

main img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* Content Section */
.content {
  text-align: center;
  overflow: auto;
  flex: 3;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, transparent 0px, transparent 25vw, #03293a 49vw, black 100%);
  font-size: 2vw; /* Increased font size for content */
}
